@page "/generated-invoice"
@inject Services.AppData AppData
@layout EmptyLayout

<PageTitle>Your Invoice</PageTitle>

@if (!string.IsNullOrEmpty(AppData.UserInvoiceData.CompanyName))
{
    <InvoiceHead CompanyName="Brown Shipping Company LLC" CompanyStreet="123 Main Street"
        CompanyCity="Fartsville" CompanyState="Oregon"
        CompanyZip="12345" InvoiceNumber="0069" Date="@DateTime.Now"
        ToName="Buying Company" ToAddress="987 A Street"
        ToCity="Brownson" ToState="California" ToZip="98765"
        ShipName="Frank" ShipAddress="987 A Street"
        ShipCity="Brownson" ShipState="California" ShipZip="98765" />
}
else
{
    <p>Loading...</p>
}

@code {

    protected override async Task OnInitializedAsync()
    {   
        if (AppData.UserInvoiceData == null)
        {
            AppData.UserInvoiceData = new Invoice();
            AppData.UserInvoiceData.CompanyName = "My Test Company";
        }
    }

}