.parent-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.parent-head h1 {
    font-size: 7rem;
}

.parent-head p {
    font-size: 2rem;
}

.parent-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh; /* Will need to change */
}

.body {
    font-size: 1.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
}

.foot {
    text-align: center;
    margin-bottom: 0px;
    bottom: 15px;
}