@page "/new-invoice"

<PageTitle>Create New Invoice</PageTitle>

@* Import Fonts *@
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">

<div class="page-main">
    <div class="parent-head">
        <h1 style="font-family: 'Permanent Marker', serif;">Create New Invoice</h1>
        <p style="font-family: 'Permanent Marker', serif;">Fill out this form. Once it is complete, click the generate button.</p>
    </div>
    <div class="parent-body">
        <div class="selection-bar">
            <div>one</div>
            <div>two</div>
        </div>
        <div class="edit-form">
            <div class="edit-form-body">
                <div>one</div>
                <div>two</div>
            </div>
            <div class="edit-form-bottom">
                <button class="btn btn-primary">Generate</button>
            </div>
        </div>
    </div>
</div>
@* Test *@
@* @if (testInvoice == null || testLineItemOne == null || testLineItemTwo == null)
{
    <div>
        Loading...
    </div>
}
else
{
    <div class="test-parent" style="font-family: 'Figtree', serif;">
        <div>First Line Item Total: @testInvoice.Items[0].Total</div>
        <div>First Line Item Total: @testInvoice.Items[1].Total</div>
        <div>Subtotal: @testInvoice.Subtotal</div>
        <div>Total: @testInvoice.Total</div>
    </div>
}


@code {

    LineItem testLineItemOne;
    LineItem testLineItemTwo;
    Invoice testInvoice;

    protected override void OnInitialized()
    {
        testLineItemOne = new LineItem()
        {
            Quantity = 2,
            Description = "Cat Toy",
            UnitCost = 2.49
        };

        testLineItemTwo = new LineItem()
        {
            Quantity = 1,
            Description = "Cat Food",
            UnitCost = 12.99
        };

        testInvoice = new Invoice()
        {
            Date = DateTime.Now,
            Number = "0001",
            CompanyName = "Zach's Company",
            CompanyAddress = "1836 NW Otie Street",
            CompanyCity = "Roseburg",
            CompanyState = "Oregon",
            CompanyZipCode = 97470,
            BillingName = "Nora Bear",
            BillingAddress = "123 Easy Street",
            BillingCity = "Boring",
            BillingState = "Oregon",
            BillingZipCode = 12345,
            Items = new List<LineItem>()
            {
                testLineItemOne,
                testLineItemTwo
            },
            Discount = 1.50,
            Tax = 0.50
        };
    }

} *@