@page "/new-invoice"

<PageTitle>Create New Invoice</PageTitle>

@* Import Fonts *@
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Permanent+Marker">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Figtree">

<div class="parent-head">
    <h1 style="font-family: 'Permanent Marker', serif;">Create New Invoice</h1>
    <p style="font-family: 'Permanent Marker', serif;">Fill out this form. Once it is complete, click the generate button.</p>
</div>